state-machines/main-orchestration-v1.asl.json
{
  "Comment": "Orquestrador principal v1 da plataforma de ingestao.",
  "StartAt": "NormalizeInput",
  "States": {
    "NormalizeInput": {
      "Type": "Pass",
      "Parameters": {
        "meta": {
          "executionId.$": "$$.Execution.Id",
          "stateMachineId.$": "$$.StateMachine.Id",
          "startedAt.$": "$$.Execution.StartTime",
          "trigger.$": "$.trigger",
          "source.$": "$.source",
          "stage.$": "$.stage",
          "service.$": "$.service"
        },
        "schedulerInput": {
          "now.$": "$.now"
        }
      },
      "ResultPath": "$",
      "Next": "Scheduler"
    },
    "Scheduler": {
      "Type": "Task",
      "Resource": {
        "Fn::GetAtt": ["SchedulerLambdaFunction", "Arn"]
      },
      "Parameters": {
        "now.$": "$.schedulerInput.now"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.Timeout"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.schedulerResult",
      "Next": "NormalizeSchedulerOutput",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.schedulerError",
          "Next": "BuildSchedulerFailureOutput"
        }
      ]
    },
    "NormalizeSchedulerOutput": {
      "Type": "Pass",
      "Parameters": {
        "meta.$": "$.meta",
        "scheduler": {
          "sourceIds.$": "$.schedulerResult.sourceIds",
          "generatedAt.$": "$.schedulerResult.generatedAt",
          "maxConcurrency.$": "$.schedulerResult.maxConcurrency",
          "eligibleSources.$": "States.ArrayLength($.schedulerResult.sourceIds)"
        }
      },
      "ResultPath": "$",
      "Next": "ProcessEligibleSources"
    },
    "ProcessEligibleSources": {
      "Type": "Map",
      "ItemsPath": "$.scheduler.sourceIds",
      "MaxConcurrencyPath": "$.scheduler.maxConcurrency",
      "Parameters": {
        "sourceId.$": "$$.Map.Item.Value",
        "meta.$": "$.meta"
      },
      "Iterator": {
        "StartAt": "InvokeCollector",
        "States": {
          "InvokeCollector": {
            "Type": "Task",
            "Resource": {
              "Fn::GetAtt": ["CollectorLambdaFunction", "Arn"]
            },
            "Parameters": {
              "sourceId.$": "$.sourceId",
              "meta.$": "$.meta"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2
              },
              {
                "ErrorEquals": ["States.Timeout"],
                "IntervalSeconds": 5,
                "MaxAttempts": 2,
                "BackoffRate": 2
              }
            ],
            "ResultPath": "$.collectorResult",
            "Next": "BuildItemResult"
          },
          "BuildItemResult": {
            "Type": "Pass",
            "Parameters": {
              "sourceId.$": "$.sourceId",
              "status": "SUCCEEDED",
              "processedAt.$": "$.collectorResult.processedAt",
              "recordsSent.$": "$.collectorResult.recordsSent"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.collectorResults",
      "Next": "BuildExecutionOutput"
    },
    "BuildExecutionOutput": {
      "Type": "Pass",
      "Parameters": {
        "meta.$": "$.meta",
        "sources.$": "$.scheduler.sourceIds",
        "results.$": "$.collectorResults",
        "summary": {
          "processedSources.$": "States.ArrayLength($.collectorResults)",
          "eligibleSources.$": "$.scheduler.eligibleSources",
          "generatedAt.$": "$.scheduler.generatedAt",
          "maxConcurrency.$": "$.scheduler.maxConcurrency",
          "schedulerStatus": "SUCCEEDED"
        }
      },
      "ResultPath": "$",
      "Next": "Done"
    },
    "BuildSchedulerFailureOutput": {
      "Type": "Pass",
      "Parameters": {
        "meta.$": "$.meta",
        "sources": [],
        "results": [],
        "summary": {
          "processedSources": 0,
          "eligibleSources": 0,
          "schedulerStatus": "FAILED",
          "error.$": "$.schedulerError.Error",
          "cause.$": "$.schedulerError.Cause"
        }
      },
      "ResultPath": "$",
      "Next": "SchedulerFailed"
    },
    "SchedulerFailed": {
      "Type": "Fail",
      "Error": "SchedulerStepFailed",
      "Cause": "Scheduler task failed before Map state execution."
    },
    "Done": {
      "Type": "Succeed"
    }
  }
}
